# Dependencias
/node_modules
/.pnp
.pnp.js

# Build Vite & TypeScript
/dist/
*.tsbuildinfo

# PostgreSQL data local
data/pgdata/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variaveis de Ambiente
.env*.local
.env

# Sistema Operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/